<?xml version="1.0" encoding="utf-8"?>
<framework-data>
  <options>
    <option id="com.atmel.avr32.sf.uc3c.common.utils" value="true" />
    <option id="com.atmel.avr32.sf.uc3c.utils" value="true" />
    <option id="com.atmel.avr32.sf.uc3c.common.boards" value="true" />
    <option id="com.atmel.avr32.sf.uc3c.utils.debug" value="true" />
  </options>
  <files>
    <file path="src/asf/thirdparty/newlib_addons/libs/include/nlao_interrupts.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="thirdparty/newlib_addons/libs/include/nlao_interrupts.h" changed="False" />
    <file path="src/asf/thirdparty/newlib_addons/libs/include/nlao_exceptions.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="thirdparty/newlib_addons/libs/include/nlao_exceptions.h" changed="False" />
    <file path="src/asf/thirdparty/newlib_addons/libs/include/nlao_usart.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="thirdparty/newlib_addons/libs/include/nlao_usart.h" changed="False" />
    <file path="src/asf/thirdparty/newlib_addons/libs/include/nlao_cpu.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="thirdparty/newlib_addons/libs/include/nlao_cpu.h" changed="False" />
    <file path="src/asf/thirdparty/newlib_addons/libs/include/nlao_io.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="thirdparty/newlib_addons/libs/include/nlao_io.h" changed="False" />
    <file path="src/asf/thirdparty/newlib_addons/libs/at32ucr3/libnewlib_addons-at32ucr3-speed_opt.a" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="thirdparty/newlib_addons/libs/at32ucr3/libnewlib_addons-at32ucr3-speed_opt.a" changed="False" />
    <file path="src/asf/common/utils/interrupt/interrupt_avr32.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="common/utils/interrupt/interrupt_avr32.h" changed="False" />
    <file path="src/asf/common/utils/interrupt.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="common/utils/interrupt.h" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.c" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/drivers/intc/intc.c" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/drivers/intc/intc.h" changed="False" />
    <file path="src/asf/avr32/drivers/intc/exception.S" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/drivers/intc/exception.S" changed="False" />
    <file path="src/asf/avr32/utils/compiler.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/compiler.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/stringz.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/preprocessor/stringz.h" changed="False" />
    <file path="src/asf/avr32/utils/parts.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/parts.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/tpaste.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/preprocessor/tpaste.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/preprocessor.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/preprocessor/preprocessor.h" changed="False" />
    <file path="src/asf/avr32/utils/status_codes.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/status_codes.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/mrepeat.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/preprocessor/mrepeat.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/startup/trampoline_uc3.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.S" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/startup/trampoline_uc3.S" changed="False" />
    <file path="src/asf/avr32/utils/startup/startup_uc3.S" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/startup/startup_uc3.S" changed="False" />
    <file path="src/asf/common/boards/board.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="common/boards/board.h" changed="False" />
    <file path="src/asf/avr32/utils/debug/debug.c" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/debug/debug.c" changed="False" />
    <file path="src/asf/avr32/utils/debug/debug.h" framework="com.atmel.avr32.sf.uc3c" version="2.6.0" source="avr32/utils/debug/debug.h" changed="False" />
  </files>
  <documentation help="" />
</framework-data>